body {
    background-image:linear-gradient(to right bottom, rgb(20, 101, 121), rgba(11, 53, 63, 0.562))  !important;
    height: 100vh;
}
#root {
    display: flex;
    justify-content: center;
}
.typography {
    background-image: linear-gradient(to right,rgba(17, 87, 104, 0.746) , rgba(22, 107, 128, 0.637)); 
    padding-bottom: 20px;
    width: 70%;
}
#line {
    height: 1px;
    background-color: rgba(239, 242, 247, 0.12);
    border-radius: 8px;
}